@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

body{
  overflow-x: hidden;
  height: 100vh;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.container{
    position: absolute;
    z-index: 1;
    width: 100%;
}

p{
  font-family: 'BIZ UDPMincho', serif;
}

.title, .description{
  font-family: 'Lora', serif;
}


#about{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2160' height='640' preserveAspectRatio='none' viewBox='0 0 2160 640'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M783.6 678.43C1018.12 674.72 1208.27 392.26 1675.04 385.9 2141.81 379.54 2334.18 126.21 2566.48 123.5' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M265.57 662.93C556.39 644.45 766.57 99.46 1285.07 97.85 1803.56 96.24 2045.5 282.7 2304.56 283.45' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M552.15 683.27C771.37 683.27 982.55 658.56 1428.65 657.08 1874.75 655.6 2073 354.29 2305.15 349.88' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M782.51 752.83C1000.89 746.77 1168.07 432.25 1593.05 426.21 2018.02 420.17 2195.71 241.79 2403.58 240.61' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M716.73 716.93C871.92 715.91 1018.03 571.53 1320.22 571.51 1622.41 571.49 1621.97 651.51 1923.72 651.51 2225.46 651.51 2375.02 571.68 2527.21 571.51' stroke='rgba(255%2c 255%2c 255%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='2160' height='640' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
}

#cursor{
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
  transition: .1s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  z-index:2;
}

a:hover ~ #cursor{
  width: 100px;
  height: 100px;

  border: 2px dashed #fff;
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes strike{
  0%   { width : 0%; }
  40% { width: 101%; }
}
.strike {
  position: relative;
}

.strike::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 0;
  height: 6.3px;
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  animation: strike 8s cubic-bezier(0.65, 0, 0.35, 1) infinite forwards;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2.5px;
  border-radius: 2px;
}

#underline1::before{
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

#underline2::before{
  background-color: #08AEEA;
background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 100%);  
}

.titleUnderline{
  position: relative;
}

.titleUnderline::before{
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
}

#underline3::before{
  background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);

}

#underline4::before{
  background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
}

#underline5::before{
  background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
}

#personup{
  transform: scale(-1, 1);
}

.shadow{
  box-shadow: rgba(255, 255, 255, 0.4) 0px 30px 90px;
}

#one, #two, #three{
  background-repeat: no-repeat;
}

#one{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2160' height='560' preserveAspectRatio='none' viewBox='0 0 2160 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M -1238.9776782400854%2c231 C -1094.98%2c264.8 -806.98%2c402.2 -518.9776782400854%2c400 C -230.98%2c397.8 -86.98%2c237.4 201.02232175991458%2c220 C 489.02%2c202.6 633.02%2c334.6 921.0223217599146%2c313 C 1209.02%2c291.4 1393.23%2c114 1641.0223217599146%2c112 C 1888.82%2c110 2056.2%2c264.8 2160%2c303' stroke='rgba(201%2c 201%2c 201%2c 0.79)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -293.9995955456098%2c262 C -150%2c269.4 138%2c326 426.0004044543902%2c299 C 714%2c272 858%2c98.8 1146.0004044543903%2c127 C 1434%2c155.2 1578%2c412.8 1866.0004044543903%2c440 C 2154%2c467.2 2527.2%2c289 2586.0004044543903%2c263 C 2644.8%2c237 2245.2%2c300.6 2160%2c310' stroke='rgba(201%2c 201%2c 201%2c 0.79)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1388.8133280846075%2c115 C -1244.81%2c166.2 -956.81%2c343.2 -668.8133280846075%2c371 C -380.81%2c398.8 -236.81%2c260.4 51.18667191539248%2c254 C 339.19%2c247.6 483.19%2c356 771.1866719153925%2c339 C 1059.19%2c322 1213.42%2c174 1491.1866719153925%2c169 C 1768.95%2c164 2026.24%2c285 2160%2c314' stroke='rgba(201%2c 201%2c 201%2c 0.52)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='2160' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#two{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2160' height='560' preserveAspectRatio='none' viewBox='0 0 2160 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1050%26quot%3b)' fill='none'%3e%3cpath d='M1170.6884908641887 44.35763276245366L1069.4625092974568 120.63688114769522 1145.7417576826983 221.86286271442702 1246.9677392494302 145.58361432918548z' fill='rgba(158%2c 183%2c 147%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M439.4120324058618 272.0365109648112L435.1417845114363 353.5176947288282 559.4986841046745 319.182474688458z' fill='rgba(158%2c 183%2c 147%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1295.27%2c198.635C1310.598%2c199.473%2c1326.822%2c194.472%2c1334.543%2c181.204C1342.3%2c167.876%2c1338.09%2c151.614%2c1330.419%2c138.237C1322.7%2c124.776%2c1310.777%2c112.172%2c1295.27%2c112.722C1280.366%2c113.251%2c1270.895%2c127.266%2c1264.193%2c140.588C1258.297%2c152.308%2c1256.602%2c165.715%2c1262.794%2c177.281C1269.348%2c189.523%2c1281.405%2c197.877%2c1295.27%2c198.635' fill='rgba(158%2c 183%2c 147%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M826.436%2c355.198C865.485%2c352.988%2c897.899%2c329.215%2c918.51%2c295.975C940.536%2c260.453%2c954.072%2c217.33%2c934.976%2c180.151C914.455%2c140.197%2c871.325%2c118.261%2c826.436%2c116.708C778.466%2c115.049%2c728.375%2c130.778%2c704.064%2c172.165C679.499%2c213.985%2c687.39%2c267.211%2c714.347%2c307.531C738.533%2c343.707%2c782.99%2c357.657%2c826.436%2c355.198' fill='rgba(158%2c 183%2c 147%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2098.87740840088 129.0121692533994L2028.1308362851319-16.391338451801573 1947.0545308236922 99.39762558696857z' fill='rgba(158%2c 183%2c 147%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1762.748%2c204.88C1786.416%2c206.921%2c1810.587%2c196.903%2c1822.933%2c176.607C1835.72%2c155.586%2c1834.63%2c128.762%2c1821.834%2c107.746C1809.523%2c87.527%2c1786.354%2c75.994%2c1762.748%2c77.762C1741.665%2c79.341%2c1726.626%2c96.64%2c1717.232%2c115.581C1708.977%2c132.226%2c1709.767%2c151.023%2c1718.204%2c167.577C1727.63%2c186.07%2c1742.068%2c203.097%2c1762.748%2c204.88' fill='rgba(158%2c 183%2c 147%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1542.2465861591036 319.4424180187478L1635.4506710680043 395.06478424461756 1653.6698016660696 291.73896011456935z' fill='rgba(158%2c 183%2c 147%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1050'%3e%3crect width='2160' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}


.tag{
  border: 2px dashed white;
  border-radius: 3px;
  padding: 3px 5px;
}

.socials{
  text-decoration: underline dashed purple 3.5px;
}