@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100&display=swap');

* {
  margin: 0;
  color: whitesmoke;
}

body{
  overflow-x: hidden;
  height: 100vh;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.container{
    position: absolute;
    z-index: 1;
    width: 100%;
}

p{
  font-family: 'BIZ UDPMincho', serif;
}

h1{
  font-family: 'Anybody', cursive;
}